/* shared/body related styles */
body{
    font-family: "Work Sans", sans-serif;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    position: absolute;
    margin-top: 600px;
    margin-left: 200px;
    background-color: rgb(241, 91, 34);
    color: white;
    border: 0;
    border-radius: 5px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: center;
}

.banner-title{
    position: absolute;
    font-size: 65px;
    margin-left: 500px;
    margin-top: 250px;
}

.banner-description{
    position: absolute;
    font-size: 16px;
    margin-top: 500px;
    margin-left: 500px;
} 

/* main section */

#person{
    background-color: peachpuff;
    border-radius: 500px;
} 

.resolution-list{
    list-style: none;
}

.tick-img{
    padding-right: 15px;
} 

.failures-of-previous-years-section{
    display: flex; 
    justify-content: center;
    margin-top: 50px ;
    margin-bottom: 50px ;
} 

.column-of-failures-of-previous-years-section{
    margin-top: 200px;
    margin-left: 100px;
} 

/* My Plans section */

.section-title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
} 

.resolution-container{
    align-items: center;
    text-align: center;
}
.resolutions{
    display: flex;
    justify-content: center;
    gap: 200px;
} 

.watch{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}
#gradient{
    position: absolute;
} 

.watch-title{
    position: absolute;
    color: white;
    font-size: 50px;
    margin-right: 500px;
} 

.btn{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px ;
    border: 0;
    border-radius: 5px; 
    margin-top: 200px;
    margin-right: 900px;
    color: rgb(241, 91, 34);
    font-weight: 900;
}